html, body {
    height: 100%;
    margin: 0;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .sidebar {
    width: 240px;
  }
  .main-wrapper {
    flex: 1;
    display: flex;
    min-height: 100vh;
  }
  @media (max-width: 768px) {
    #sidebarMenu {
      width: 40% !important;
      max-width: 100%;
    }
  }